@model IEnumerable<MEC.ControleRDO.Data.VO.RdoVO>

<h2>Rdo Index</h2>

<p>
    <form action="CreateRdo">
        <button type="submit">Create New</button>
    </form>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>DataRdo</th>
            <th>DataEnvio</th>
            <th>NomeFiscal</th>
            <th>NumeroOrcamento</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rdo in Model)
        {
            <tr>
                <td>@rdo.Id</td>
                <td>@rdo.DataRdo.ToString("dd/MM/yyyy")</td>
                <td>@rdo.DataEnvio.ToString("dd/MM/yyyy")</td>
                <td>@rdo.NomeFiscal</td>
                <td>@rdo.NumeroOrcamento</td>
                <td>
                    <a asp-action="DetailsRdo" asp-route-id="@rdo.Id">Details</a> |
                    <a asp-action="EditRdo" asp-route-id="@rdo.Id">Edit</a> |
                    <a asp-action="DeleteRdo" asp-route-id="@rdo.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
