@model IEnumerable<Data.VO.RdoVO>

<head>
    <link rel="stylesheet" href="~/css/Rdo/Index.css">
</head>

<h2>Rdo</h2>

<div class="d-inline-block">
    <form action="CreateRdo" class="d-inline-block me-2">
        <button type="submit" class="btn btn-primary">Novo</button>
    </form>
    <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#filterModal">Filtrar</button>
</div>


<!-- Modal de filtro -->
<div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Filtrar por:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulário de filtro -->
                <form method="post" action="@Url.Action("IndexRdo")">
                    <div class="mb-3">
                        <label for="filterType" class="form-label">Tipo de filtro:</label>
                        <select class="form-select" id="filterType" name="filterType">
                            <option value="DataRdo">Data de Rdo</option>
                            <option value="DataEnvio">Data de Envio</option>
                        </select>
                    </div>
                    <div class="mb-3" id="dateFilterContainer">
                        <label for="startDate" class="form-label">Data de início:</label>
                        <input type="date" class="form-control" id="startDate" name="startDate">
                    </div>
                    <div class="mb-3" id="endDateFilterContainer">
                        <label for="endDate" class="form-label">Data de fim:</label>
                        <input type="date" class="form-control" id="endDate" name="endDate">
                    </div>
                    <button type="submit" class="btn btn-primary">Filtrar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Data do Rdo</th>
            <th>Data do Envio</th>
            <th>Nomedo Fiscal</th>
            <th>Numero do Orçamento</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rdo in Model)
        {
            <tr>
                <td>@rdo.DataRdo.ToString("dd/MM/yyyy")</td>
                <td>@rdo.DataEnvio.ToString("dd/MM/yyyy")</td>
                <td>@rdo.NomeFiscal</td>
                <td>@rdo.NumeroOrcamento</td>
                <td>
                    <a asp-action="DetailsRdo" asp-route-id="@rdo.Id">Detalhes</a> |
                    <a asp-action="EditRdo" asp-route-id="@rdo.Id">Editar</a> |
                    <a asp-action="DeleteRdo" asp-route-id="@rdo.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#filterType').change(function () {
                if ($(this).val() === 'NumeroOrcamento') {
                    $('#numeroOrcamentoContainer').load('@Url.Action("GetNumeroOrcamentoList")');
                    $('#numeroOrcamentoContainer').show();
                    $('#dateFilterContainer').hide();
                    $('#endDateFilterContainer').hide();
                } else {
                    $('#numeroOrcamentoContainer').hide();
                    $('#dateFilterContainer').show();
                    $('#endDateFilterContainer').show();
                }
            });
        });
    </script>
}
