@model IEnumerable<Data.VO.ObraVO>

<head>
    <link rel="stylesheet" href="~/css/Obra/Index.css">
</head>


<h2>Obra</h2>

<p>
    <form action="CreateObra">
        <button type="submit">Nova</button>
    </form>
</p>

<table class="table" id="table">
    <thead>
        <tr>
            <th>Numero do Orçamento</th>
            <th>Nome</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fiscal in Model)
        {
            <tr>
                <td>@fiscal.NumeroOrcamento</td>
                <td>@fiscal.SE</td>
                <td>
                    <a asp-action="DetailsObra" asp-route-id="@fiscal.Id">Detalhe</a> |
                    <a asp-action="EditObra" asp-route-id="@fiscal.Id">Editar</a> |
                    <a asp-action="DeleteObra" asp-route-id="@fiscal.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

