@model IEnumerable<Data.VO.FiscalVO>

<h2>Fiscal Index</h2>

<p>
    <form action="CreateFiscal">
        <button type="submit">Create New</button>
    </form>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var fiscal in Model)
        {
            <tr>
                <td>@fiscal.Id</td>
                <td>@fiscal.Nome</td>
                <td>@fiscal.Email</td>
                <td>
                    <a asp-action="DetailsFiscal" asp-route-id="@fiscal.Id">Details</a> |
                    <a asp-action="EditFiscal" asp-route-id="@fiscal.Id">Edit</a> |
                    <a asp-action="DeleteFiscal" asp-route-id="@fiscal.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
