@model IEnumerable<Data.VO.FiscalVO>

<head>
    <link rel="stylesheet" href="~/css/Fiscal/Index.css">
</head>

<h2>Fiscal</h2>

<p>
    <form action="CreateFiscal">
        <button type="submit">Novo</button>
    </form>
</p>

<table class="table" id="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var fiscal in Model)
        {
            <tr>
                <td>@fiscal.Nome</td>
                <td>@fiscal.Email</td>
                <td class="action-links">
                    <a class="link-to-page" asp-action="DetailsFiscal" asp-route-id="@fiscal.Id">Detalhes</a> |
                    <a class="link-to-page" asp-action="EditFiscal" asp-route-id="@fiscal.Id">Editar</a> |
                    <a class="link-to-page" asp-action="DeleteFiscal" asp-route-id="@fiscal.Id">Deletar</a>
                </td>
            </tr> 
        }
    </tbody>
</table>
